.screen {
    	background-color: #fff;
    	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: auto;
	margin: 10px auto;
}
 
.header {
    	background-color: #483D8B;
    	color: #fff;
	padding: 2px 10px;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
}

.photo {
    	border: 3px solid #483D8B;
}

.body {
	height: 600px;
}

.sidebar {
	background-color: aqua;
	float: left;	
	width: 15%;
	height: 95%;
    	border-radius: 15px;
    	margin: 15px;
}

.sidebar ul li {
    	text-decoration: none;
}
 
.sbtxt {
    	text-decoration: none;
    	width: auto;
    	text-align: left;
    	padding: 8px 16px;
    	display: block;
    	border: none;
    	white-space: normal;
    	float: none;
    	outline: 0;
}

.sbtxt:hover {
    	color:#000!important;
    	background-color:#f1f1f1!important;
}
 
.post {
	background-color: aqua;
	float: left;
	width: 80%;
	height: 95%;   	
    	border-radius: 15px;
    	margin: 15px;
}

.postxt {
    	padding-left: 20px;
}

.formulir {
    	background-color: lightskyblue;
    	color: #0f0f0f;
    	width: 50%;
    	height: 100%;
    	padding: 20px;
    	border-radius: 20px;
    	box-sizing: border-box;
  }
 
.ic {
    	width: 100%;
    	height: 50px;
    	padding: 20px 30px;
    	position: relative;
}

.is {
    	padding: 20px 20px;
    	border-radius: 10px;
}

.is1 {
    	padding: 10px 47px;
    	border-radius: 10px;
}

label {
    	text-align: left;
}

.btn1 {
    	padding: 10px 30px;
    	background-color: lightskyblue;
    	color: #15172b;
    	border-radius: 10px;
    	text-align: center;
}

.btn1:hover {
    	background-color: aqua;
    	color: blue;
    	transition-duration: 1s;
    	border-color: #0f0f0f;
}

.batas {
	clear: both;
}

.footer{
    	background-color: #483D8B;
    	color: #fff;
	padding: 10px;
    	text-align: center;
}
